
__pycache__/__init__.cpython-36.pyc
__pycache__/admin.cpython-36.pyc
__pycache__/models.cpython-36.pyc
__pycache__/urls.cpython-36.pyc
__pycache__/views.cpython-36.pyc
migrations/__pycache__/0001_initial.cpython-36.pyc
migrations/__pycache__/__init__.cpython-36.pyc
migrations/0002_auto_20201229_1338.py
migrations/0001_initial.py
migrations/__pycache__/0002_auto_20201229_1338.cpython-36.pyc
__pycache__/__init__.cpython-37.pyc
__pycache__/admin.cpython-37.pyc
__pycache__/models.cpython-37.pyc
__pycache__/__init__.cpython-38.pyc
__pycache__/admin.cpython-38.pyc
__pycache__/apps.cpython-38.pyc
__pycache__/models.cpython-38.pyc
__pycache__/urls.cpython-38.pyc
__pycache__/views.cpython-38.pyc
migrations/__pycache__/0001_initial.cpython-38.pyc
migrations/__pycache__/__init__.cpython-38.pyc
migrations/0002_auto_20221102_2133.py
migrations/__pycache__/0002_auto_20221102_2133.cpython-38.pyc
migrations/0002_auto_20221209_1400.py
migrations/0003_auto_20221209_1401.py
migrations/0004_auto_20221209_1406.py
migrations/__pycache__/0002_auto_20221209_1400.cpython-38.pyc
migrations/__pycache__/0003_auto_20221209_1401.cpython-38.pyc
migrations/__pycache__/0004_auto_20221209_1406.cpython-38.pyc
migrations/0003_expense_fund.py
migrations/0004_alter_expense_ticket.py
migrations/0005_auto_20221209_2026.py
migrations/0006_expense_company.py
migrations/0007_alter_expense_company.py
migrations/__pycache__/0003_expense_fund.cpython-38.pyc
migrations/__pycache__/0004_alter_expense_ticket.cpython-38.pyc
migrations/__pycache__/0005_auto_20221209_2026.cpython-38.pyc
migrations/__pycache__/0006_expense_company.cpython-38.pyc
migrations/__pycache__/0007_alter_expense_company.cpython-38.pyc
migrations/0008_auto_20221210_1109.py
migrations/__pycache__/0008_auto_20221210_1109.cpython-38.pyc
__pycache__/__init__.cpython-310.pyc
__pycache__/admin.cpython-310.pyc
__pycache__/models.cpython-310.pyc
__pycache__/urls.cpython-310.pyc
__pycache__/views.cpython-310.pyc
migrations/0002_auto_20221107_1054.py
migrations/0003_auto_20230815_0927.py
migrations/0004_software_short.py
migrations/0005_alter_member_uname.py
migrations/0006_alter_member_uname.py
migrations/0007_auto_20230815_1101.py
migrations/0008_auto_20230815_1545.py
migrations/0009_download_represent.py
migrations/0010_auto_20230815_2136.py
migrations/__pycache__/0001_initial.cpython-310.pyc
migrations/__pycache__/0002_auto_20221107_1054.cpython-310.pyc
migrations/__pycache__/0002_auto_20221107_1054.cpython-38.pyc
migrations/__pycache__/0003_auto_20230815_0927.cpython-38.pyc
migrations/__pycache__/0004_software_short.cpython-38.pyc
migrations/__pycache__/0005_alter_member_uname.cpython-38.pyc
migrations/__pycache__/0006_alter_member_uname.cpython-38.pyc
migrations/__pycache__/0007_auto_20230815_1101.cpython-38.pyc
migrations/__pycache__/0008_auto_20230815_1545.cpython-38.pyc
migrations/__pycache__/0009_download_represent.cpython-38.pyc
migrations/__pycache__/0010_auto_20230815_2136.cpython-38.pyc
migrations/__pycache__/__init__.cpython-310.pyc
migrations/0011_software_citation.py
migrations/__pycache__/0011_software_citation.cpython-38.pyc
migrations/0009_auto_20240628_0828.py
.DS_Store
